body,html,h1,h2,h3,h4,span,p{
    margin: 0;
    padding: 0;
    font-weight: normal;
}   
body{
    height: 100%;
    background-color: #181818;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Light.otf") format("truetype");
}

@font-face{
    font-family: "deadhead";
    src: url("../fonts/Deadhead Script.otf") format("truetype");
}

@font-face{
    font-family: "GothamL";
    src: url("../fonts/Gotham-XLightIta.otf") format("truetype");
}

.home{
    height: 105.5vh;
    /*border: 20px solid #fff;
    box-sizing: border-box;*/
}

.home-container{
    background-image: linear-gradient(
        #00c6ff,#0072ff);
    width: 100%;
    height: 95%;
    color: white;
    
}

.name{
    font-family: "deadhead";
}

.name-job{
    text-align: center;
    padding-top: 10em;
    width: 100%;
}

.name-job h1{
    font-size: 3.5em;
    letter-spacing: 2.66px;
}

.job{
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Gotham";
}
.job h2{
    font-size: 1.4em;
    font-weight: lighter;
    font-family: "GothamL";
}

.job span{
    font-size: 1.4em;
}

.job h3{
    font-size: 1.4em;
    font-family: "GothamL";
}

h2,h3,span{
    display: inline;
    font-size: 2.2vw;
}

.presentation{
    text-align: center;
    padding-top: 8em;
    font-size: 2.2vh;
    letter-spacing: 1.22px;
    padding-left: 5%;
    padding-right: 5%;
}

.presentation p{
    font-family: "GothamL";
    font-size: 1.6vh;
}

.prese-projet{
    text-align: center;
    font-family: "GothamL";
}


.projet-arrow{
    text-align: center;
    font-family: "arrial";
    font-size: 3vh;
}

.home-down{
    position: absolute;
    top: 93%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    text-align: center;
    max-width: 100%;
}

.projet{
    background-color: #181818;
    color: #fff;
    width: 100%;
}

.header-projet{
    padding-top: 2vw;
    text-align: center;
    padding-bottom: 1em;
    font-family: "Gotham";
}

.header-projet h2{
    padding-bottom: 2em;
}

.header-projet h3{
    font-size: 2vh;
}

/* Grid styles -------------------------------------------------*/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 15px;
  }
  
  @media (min-width: 700px) {
    .leading-bigtext {
      font-size: 140px;
    }
  }
    
  .cards {
    max-width: 1600px;
    margin: 0 auto 30px;
    padding-left: 15px;;
    padding-right: 15px;
    padding-top: 15px;
    
  }
  
  article {
    position: relative;
  }
  
  .article-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .article-title {
    position: absolute;
    bottom: 3px;
    width: 95%;
    padding: 10px;
    background-color: rgba(18, 18, 18, 0.2);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  

